@font-face {
	font-family: 'iconfont';  /* project id 582273 */
	src: url('https://at.alicdn.com/t/font_582273_a10gw96njbqk6gvi.eot');
	src: url('https://at.alicdn.com/t/font_582273_a10gw96njbqk6gvi.eot?#iefix') format('embedded-opentype'),
	url('https://at.alicdn.com/t/font_582273_a10gw96njbqk6gvi.woff') format('woff'),
	url('https://at.alicdn.com/t/font_582273_a10gw96njbqk6gvi.ttf') format('truetype'),
	url('https://at.alicdn.com/t/font_582273_a10gw96njbqk6gvi.svg#iconfont') format('svg');
}
*{
	box-sizing: border-box;
}
.clear{
	clear:both;
}

/* 隐藏滚动条 */
.contior::-webkit-scrollbar,.content::-webkit-scrollbar{
    display: none;
}
.bottom{
	position:fixed;
	bottom:0;
	width:10.8rem;
	height:1.62rem;
}
.bottom_icon{
	width:4.18rem;
	height:1.62rem;
	background:#fff;
	border-top:.02rem solid #f7f3f7 ;
	float: left;
}
.bottom_icon1{
	width:1.38rem;
	height:100%;
	margin:.3rem auto;
	float:left; 
}
.bottom_icon1 p{
	font-family: 'iconfont';
	font-size:.54rem;
	color:#9c9e9c;
	font-weight:bold;
	text-align:center;
}
.bottom_icon2 p{
	color:#e72c21;
}
.bottom_icon1 span{
	font-size:.3rem;
	color:#5a595a;
	display: block;
	text-align:center;
}
.bottom_price{
	width:2.94rem;
	height:1.62rem;
	background:#f7aaab;
	float:left; 
	color:#fff;
}
.bottom_price h1{
	font-size:.38rem;
	text-align:center;
	padding-top:.3rem;
}
.bottom_price h2{
	font-size:.46rem;
	text-align:center;
}
.bottom_price2{
	width:3.68rem;
	height:1.62rem;
	background:#e72c21;
	float:left; 
}
.contior{
	position: absolute;
  	left: 0;
  	top: 0;
  	right: 0;
  	bottom:1.62rem;
  	background:#f7f3f7;
    overflow-y: scroll;
}
.swiper-wrapper{
	width:10.8rem;
	height:9.65rem;
	border-bottom:.05rem solid #fffbff;
}
.swiper-container span{
	font-family: 'iconfont';
	position: absolute;
	top:.27rem;
	z-index:99;
	width:.96rem;
	height:.96rem;
	line-height:.96rem;
	text-align: center;
	border-radius:50%;
	background: rgba(0,0,0,.6);
	color:#fff;
	font-size:.7rem;
}
.shopping_pin{
	width:6.55rem;
	height:.95rem;
	line-height:.95rem;
	border-radius:.3rem;
	background: rgba(0,0,0,.6);
	position: absolute;
	left: .3rem;
	top:1.66rem;
	z-index:99;
	color:#fff;
	font-size:.18rem;
}
.shopping_pin img{
	width:.73rem;
	height:.73rem;
	border-radius: 50%;
	float: left;
	margin:.11rem;
}
.shuzi{
	position:absolute;
	z-index: 99;
	right:.32rem;
	bottom:.43rem;
	font-size:.28rem;
}
.price{
	width: 100%;
	height:4.95rem;
	background:#fff;
}
.p_content{
	width:10.2rem;
	height:2.67rem;
	margin:0 auto;
}
.p_content_head{
	width:100%;
	height:2.67rem;
	margin:auto;
}
.p_content_head h3{
	color:red;
	font-size:.52rem;
	float: left;
	line-height:.92rem;
}
.p_content_head i{
	font-size:.28rem;
	color:#5a595a;
	text-decoration:line-through;
	float: left;
	line-height:1rem;
	padding-left:.2rem;
}
.p_content_head p{
	float:right;
	font-size:.32rem;
	color:#5a595a;
	line-height:.92rem;
}
.p_content_head h5{
	font-size:.38rem;
	line-height: 200%;
	padding:.3rem 0;
}
.manjian{
	width:100%;
	height:1.14rem;
	background:#fffbff;
	border-top:1px solid #f7f3f7;
	line-height:1.14rem;
	padding:0 .2rem;
	color:#5a595a;
	font-size:.3rem;
}
.manjian p{
	font-size:.38rem;
	float: left;
	margin-right:.34rem;
}
.manjian i{
	font-family: 'iconfont';
	color:red;
	padding-right:.2rem;
}
.right{
    font-family: 'iconfont';
    color:#9c9e9c;
    float: right;
    font-weight: bold;
    font-size: .3rem;
}
.list{
    width:100%;
    height:4.77rem;
    background:#fff;
    margin:.25rem 0;
}
.list ul{
    width:10.2rem;
    height:100%;
    margin:0 auto;
    /*background:pink;*/
}
.list ul li{
    width:100%;
    height:1.79rem;
    border-top:.02rem solid #f7f3f7;
    /*line-height:1.79rem;*/
}
.list ul h5,.evaluation ul h5{
    float:left;
    font-size:.42rem;
}
.list ul li span,.evaluation ul li span{
    float:right;
    font-size:.34rem;
    color:#9c9e9c;
}
.pin_statu{
    float:right;
    /*width:4.8rem;*/
    height:100%;
}
.pin_statu1{
    /*width:2.4rem;*/
    height:100%;
    float: left;
    text-align: right;
    font-size:.36rem;
    padding-top:.46rem;
}
.pin_statu2{
    color:#fff;
    font-size:.32rem;
    width:2.1rem;
    height:.87rem;
    background:#e72c21;
    line-height:.87rem;
    text-align: center;
    float: right;
    border-radius:.1rem;
    margin-left:.32rem;
    margin-top:.46rem;
}
.list ul img{
    width:1.35rem;
    height:1.35rem;
    border-radius:50%;
    margin:.22rem .35rem 0;
    float:left;
}
.list ul b{
    font-size:.38rem;
}
.evaluation{
    width:100%;
    height: auto;
    min-height:8.91rem;
    background:#fff;
}
.evaluation ul{
    width:10.2rem;
    height:100%;
    margin:0 auto;
    /*background:deepskyblue;*/
}
.evaluation ul li {
    width:100%;
    height:auto;
    border-top:.02rem solid #f7f3f7;
}
.evaluation_type{
    display: flex;
    justify-content:space-around;
    margin-top:.45rem;
}
.evaluation ul li p{
    /*width:3.32rem;*/
    height:.81rem;
    background:#ffebef;
    border-radius:5px;
    float:left;
    font-size:.34rem;
    line-height:.81rem;
    text-align: center;
}
.evaluation_who{
    margin:.32rem 0;
    width: 100%;
    height:.75rem;
    line-height: .75rem;
}
.evaluation_who img{
    width:.75rem;
    height:.75rem;
    border-radius:50%;
    float:left;
}
.who_name{
    font-weight: bold;
    float: left;
    font-size:.4rem;
    padding-left: .2rem;
}
.who_time{
    font-size:.28rem;
    color:#9c9e9c;
    float:right;
}
.pingyu{
    width:100%;
    height: auto;
    max-height: 1rem;
    font-size:.4rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;/*对象作为伸缩盒子模型显示*/
    -webkit-box-orient:vertical ;/*设置或检索伸缩盒对象的子元素的排列方式*/
    -webkit-line-clamp:2; /*显示的行数*/
}
.shangpin{
    font-size:.3rem;
    color:#9c9e9c;
    margin:.28rem 0 .5rem;
}
/*会生活开始*/
.life{
    width:100%;
    height:1.9rem;
    background:#fff;
    margin:.3rem 0;
}
.life_inner{
    width:10.2rem;
    height:100%;
    margin:0 auto;
}
.life_left{
    width:1.29rem;
    float: left;
}
.shop_star{
	margin-top:.57rem;
	margin-left:.32rem;
	height:.9rem;
	float: left;
}
.shop_star p{
	font-size:.42rem;
	font-weight:bold;
}
.shop_star span{
	font-size:.34rem;
	color:#9c9e9c;
	display: block;
}
.life_right{
	width: 2.61rem;
	height:1.89rem;
	float:right;
}
/*会生活结束*/
/*店铺推荐开始*/
.commend{
	width:100%;
	height:6.6rem;
	background:#fff;
}
.commend_inner{
	width:10.2rem;
	height:6.6rem;
	margin:0 auto;
}
.commend_inner span{
	height:1.23rem;
	width:100%;
	display: block;
	line-height:1.23rem;
	font-size:.38rem;
	font-weight: bold;
}
.commend_inner ul{
	display: flex;
	justify-content:space-between;
}
.commend_inner ul li{
	width:3.35rem;
	height:5rem;
	border-radius:.05rem;
	border:.02rem solid #f7f7f7;
}
.commend_inner img{
	width:3.27rem;
	height:3.27rem;
	border-radius:.05rem;
	margin:.02rem;
}
.commend_inner p{
	width:2.58rem;
	/*height:.68rem;*/
	margin: 0 auto;
	font-size:.32rem;
	text-align: center;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.commend_price{
	margin:.2rem auto;
	width:2.92rem;
}
.commend_price i{
	font-size:.26rem;
	color:#e72c21;
	float:left;
}
.commend_price em{
	font-size:.26rem;
	color:#9c9e9c;
	float:right;
}
.detail{
	width:100%;
	background:#fff;
	margin: .3rem 0;
}
.detail_inner{
	width:10.2rem;
	height:8.15rem;
	margin:0 auto;
}
.detail_inner span{
	width:100%;
	height:1.23rem;
	border-bottom:.02rem solid #f7f3f7;
	display: block;
	line-height: 1.23rem;
	font-size: .38rem;
	font-weight: bold;
	margin: .3rem 0;
}
.detail_inner p{
	width:8.35rem;
	height:6.04rem;
	background:#fffbff;
	margin:.36rem auto;
	padding:.52rem 0;
	font-size:.4rem;
}
/*店铺推荐结束*/

.title{
	width:100%;
	height:1.22rem;
	background:#ef5d31;
	color:#fff;
	font-size:.64rem;
	text-align: center;
	line-height:1.22rem;
	font-weight: bold;
}
.end{
	width:100%;
	height:auto;
}






