@font-face {
  font-family: 'iconfont';  /* project id 571052 */
  src: url('https://at.alicdn.com/t/font_571052_63c9t3z0y9khjjor.eot');
  src: url('https://at.alicdn.com/t/font_571052_63c9t3z0y9khjjor.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_571052_63c9t3z0y9khjjor.woff') format('woff'),
  url('https://at.alicdn.com/t/font_571052_63c9t3z0y9khjjor.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_571052_63c9t3z0y9khjjor.svg#iconfont') format('svg');
}

.sousuo_fenlei::-webkit-scrollbar{
	display: none;
}
.sousuo{
	overflow:hidden;
	width: 100vw;
    height: 100vh;
    background-color: plum;
    position: fixed;
    top: 0;
    right: 0;
    bottom:2.57rem;
    margin: auto;
    z-index: 999;
    background-color: #f6f6f6;
    float:left;
}
.sousuo_title{
	background:#fff;
	height:2.3rem;
}
.sousuo_title h1{
	width:100%;
	height:1.65rem;
	text-align:center;
	line-height: 3.65rem;
	font-size:.46rem;
}
.sousuo_title p{
	font-family: 'iconfont';
	color: #666666; 
	font-size:.56rem;
	float: right;
	margin-right:.28rem;
	margin-top: -.18rem;
}
.sousuo input{
	width: 10.2rem;
	height:.96rem;
	margin-left:.3rem;
	background:#fff;
	border-radius:.2rem;
	border-width:0;
	text-align:center;
	margin-top:0.18rem;
	margin-bottom:.18rem;
	float: left;
}
.sousuo_fenlei{
	width:2.87rem;
	overflow:scroll;
	height:16.3rem;
	/* background:pink; */
}
.clear{
	clear: both;
}
.sousuo_fenlei ul li{
	width: 2.87rem;
	height:1.6rem;
	font-size:.36rem;
	text-align: center;
	line-height:1.6rem;
}
#sousuo_fenlei2{
	background:#fff;
	color:#e02e24;
}
.sousuo_fenlei ul li em{
	 font-family: 'iconfont';
	 font-size:.5rem;
	 margin-left:.32rem;  
}
.sousuo_content{
	overflow: scroll;
	width: 7.93rem;
	height:24rem;
	background: #fff;
	float: right;
	margin-top:-16.29rem;
}
.sousuo_zoom{
	width: 7.93rem;
	height:1.6rem;
	line-height:1.6rem;
}
.sousuo_zoom p{
	float: left;
	color: #000;
	font-size: .38rem;
	margin-left:.4rem;
}
.sousuo_zoom span{
	float: right;
	color: #9c9c9c;
	font-size: .32rem;
	margin-right:.4rem;
}
.sousuo_zoom ul li{
	width:2.64rem;
	height: 1.93rem;
	float: left;
	font-size:.34rem;
	color:#656565;
	text-align:center;
	margin-top:.34rem;
}
.sousuo_zoom ul li img{
	width: 1.04rem;
	height:1.14rem;
	margin:0 auto;
	margin-bottom:-.34rem;
}